
body,
html {
  font-size: 10px;
  background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}


/* header */
header {
  width: 100%;
  display: none;
  color: #fff;
  z-index: 9999;
  position: relative;
}

.gnbtop {
  background-color: rgba(0, 0, 0, 0.3);
}
.gnbtop .header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.gnbtop .logo img {
  height: 40px;
}

.user_menu ul {
  display: flex;
  gap: 25px;
}

.user_menu ul li a {
  color: #fff;
  font-size: 1.3rem;
  transition: color 0.3s ease;
}


/* gnbouter */
.gnbouter {
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  justify-content: center;
  align-items: center;
  z-index: 999;
  height: 50px;
}

.gnbouter .header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
}

.main_menu {
  display: flex;
  gap: 50px;
  align-items: center;
}

.main_menu>.menu_item {
  position: relative;
}

.main_menu>.menu_item>a {
  color: #eee;
  font-weight: 500;
  font-size: 1.6rem;
  padding: 8px 0;
  position: relative;
}

.main_menu>.menu_item>a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: #9E0E92;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.main_menu>li.menu_item:hover>a::after {
  width: 100%;
  left: 0;
}


/* search_box_pc */
.search_box_pc {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 4px 15px;
}

.search_box_pc input {
  background: none;
  border: none;
  outline: none;
  color: #eee;
  font-size: 1.3rem;
}

.search_box_pc input::placeholder {
  color: #ccc;
}

.search_box_pc div {
  color: #eee;
  font-size: 1.5rem;
}

/* Dropdown Menu */
.dropdown_container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  z-index: 1000;
  display: flex;
  padding: 20px 0;
}

.gnbouter:hover .dropdown_container {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown_container .header-inner > ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dropdown_container ul .dropdown_sub_menu {
  min-width: 230px;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 20%;
}

.dropdown_container ul .dropdown_sub_menu li {
  padding: 15px 0;
}

.dropdown_container ul .dropdown_sub_menu li a {
  color: #121212;
  font-size: 1.6rem;
  transition: color 0.3s ease;
}

.dropdown_container ul .dropdown_sub_menu li a:hover {
  color: #9E0E92;
  font-weight: 500;
}


/* mobile_header */
.mobile_header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}

.mobile_header .top_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  gap: 10px;
}

.mobile_header .logo img {
  height: 20px;
}

.mobile_header .searchbox_mobile {
  display: flex;
  align-items: center;
  background-color: #eee;
  border-radius: 20px;
  padding: 5px 10px;
  max-width: 200px;
}

.mobile_header .searchbox_mobile input {
  background: none;
  border: none;
  outline: none;
  color: #999;
  font-size: 1.3rem;
}

.mobile_header .searchbox_mobile > div {
  font-size: 1.3rem;
  color: #666;
}

.mobile_header .hamburger_btn {
  font-size: 1.6rem;
  cursor: pointer;
  color: #333;
}


/* mobile_menu */
.mobile_menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 95%;
  height: 100vh;
  background: #fff;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-out;
  overflow-y: auto;
  z-index: 1000;
}

.mobile_menu.active {
  right: 0;
}

/* mobile_menu */
.mobile_menu_top_bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 15px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.close_btn {
  font-size: 1.6rem;
  cursor: pointer;
  color: #333;
}


.login_section {
  padding: 20px 10px;
  border-bottom: 1px solid #ddd;
  font-size: 1.8rem;
  font-weight: 600;
  color: #666;
}

.menu_inner {
  display: flex;
  gap: 10px;
  height: calc(100vh - 54px - 82px);
}


.left_tabs {
  width: 50%;
  font-size: 1.4rem;
  border-right: 1px solid #ddd;
}

.left_tabs ul {
  display: flex;
  flex-direction: column;
}

.left_tabs ul li {
  padding: 10px 10px;
  font-weight: 500;
  color: #121212;
}

.left_tabs ul li.active {
  color: #9E0E92;
  font-weight: 700;
}

.right_content {
  width: 50%;
  padding: 10px;
}

.menu_content {
  display: none;
}

.menu_content.active {
  display: block;
}

.menu_content ul li {
  padding: 10px 0;
}

.menu_content ul li a {
  color: #121212;
  font-size: 1.3rem;
  transition: color 0.3s ease;
}

.menu_content ul li a:hover {
  color: #9E0E92;
  font-weight: 600;
}


.sns_img {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
  width: 100%;
}
.sns_img .content-aligned-wrapper {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.sns_img .content-aligned-wrapper a img {
  width: 30px;
  height: 30px;
  display: block;
  margin: 0;
}


.footer_banner {
  width: 100%;
}
.footer_banner img {
  width: 100%;
  height: auto;
}


.footer {
  background: #eee;
  font-size: 1.2rem;
  width: 100%;
  padding-top: 30px;
}
.footer-content-wrapper {
}

.footer_info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cs_title {
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 1.5rem;
}

.cs_time {
  color: #666;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.cs_buttons {
  display: flex;
  gap: 10px;
}

.cs_btn {
  background: #9E0E92;
  color: #fff;
  padding: 6px 12px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2rem;
}

.footer_right {
  margin-top: 20px;
  display: none;
}

.footer_links {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.notice_title {
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.notice_list li {
  margin-bottom: 6px;
}

.notice_list a {
  color: #000248;
  text-decoration: none;
}

.footer_nav {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 1.2rem;
  margin-top: 10px;
}

.footer_nav a {
  color: #121212;
  text-decoration: none;
  border-right: 1px solid #ccc;
  padding-right: 10px;
}

.footer_nav a:last-child {
  border-right: none;
}

.footer_address {
  font-size: 1.2rem;
  color: #666;
  margin-top: 20px;
  padding-bottom: 30px;
}

.footer_address a {
  color: #9E0E92;
  text-decoration: underline;
}


/* tablet */
@media (min-width:768px) {
  .gnbtop .header-inner,
  .gnbouter .header-inner,
  .dropdown_container .header-inner {
    padding-left: 40px;
    padding-right: 40px;
  }

  .mobile_menu {
    width: 450px;
    top: 0;
  }
  .mobile_menu_top_bar {
    padding: 15px 20px;
  }

  .mobile_header .logo img {
    height: 30px;
  }
  .mobile_header .searchbox_mobile {
    height: 35px;
    margin: 0 auto;
  }

  .footer_right {
    margin-top: 20px;
    display: none;
  }
}


/* pc */
@media all and (min-width:1024px) {
  .gnbtop .header-inner,
  .gnbouter .header-inner,
  .dropdown_container .header-inner {
    padding-left: 40px;
    padding-right: 40px;
  }

  .mobile_header,
  .mobile_menu {
    display: none;
  }

  header {
    display: block;
  }

  .gnbouter {
    height: 50px;
  }

  .search_box_pc input[type="search"] {
    width: 30rem;
    height: 2rem;
    color: #fff;
  }

  .search_box_pc button {
    color: #fff;
  }

  .sns_img {
    margin-bottom: 50px;
  }
  .sns_img .content-aligned-wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
  .sns_img .content-aligned-wrapper img {
    width: 40px;
    height: 40px;
  }


  /*footer*/
  .footer_info {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer_right {
    display: block;
    text-align: right;
  }

  .site_logo {
    width: 150px;
    margin-bottom: 10px;
  }

  .certifications img {
    height: 40px;
    margin-left: 10px;
  }

  .footer_links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer_nav {
    margin-top: 0;
  }

  .notice {
    width: 60%;
  }

  .footer_nav {
    width: 40%;
    justify-content: flex-end;
  }
}

/* wide_pc */
@media (min-width: 1280px) {
  .header-inner,
  .content-aligned-wrapper,
  .footer-content-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

.header-inner,
.main-content-area,
.content-aligned-wrapper,
.footer-content-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* swiper */
.swiper {
  height: auto;
  position: relative;
}

.swiper picture {
  width: 100%;
  height: auto;
  overflow: hidden;
  cursor: pointer;
}

.swiper-slide {
  text-align: center;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: #999;
}

.swiper-button-prev {
  position: absolute;
  left: 10px;
}

.swiper-button-next {
  position: absolute;
  right: 10px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination span {
  background-color: #fff;
  width: 10px;
  height: 10px;
}


.main-content-area {
  padding-top: 10px;
}

/* title */
.schedule .schedule_tit,
.best_screen_tab li,
.critics_section .critics_title,
.video_section .video_header .video_title,
.event_section .event_header .event_title,
.best_review .review_title {
  font-size: 1.8rem;
  margin-bottom: 20px;
  font-weight: 500;
  text-align: center;
}
.keyword_section .keyword_title {
  font-size: 1.8rem;
  margin-bottom: 10px;
  font-weight: 500;
  text-align: center;
}


/* best_screen */
.best_screen {
  margin-top: 80px;
  text-align: center;
}

.best_screen_tab {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
}

.best_screen_tab li {
  line-height: 15px;
  padding: 0 10px;
  cursor: pointer;
}

.best_screen_tab li:nth-child(1) {
  border-right: 1px solid #ccc;
}

.best_screen_tab li.active {
  color: #9E0E92;
}

.slide_wrapper {
  position: relative;
}

.slide_btn {
  display: none;
}

.best_list {
  display: none;
  gap: 10px;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-bottom: 10px;
}
.best_list.active {
  display: flex;
}
.best_list::-webkit-scrollbar {
  display: none;
}


.bestscreen_list {
  flex: 0 0 45%;
  box-sizing: border-box;
}

.poster_wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.poster_wrap::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 10;
}

.rank {
  position: absolute;
  bottom: 1%;
  left: 2%;
  color: #fff;
  font-size: 5rem;
  z-index: 99;
  font-style: italic;
}

.detail_btn {
  width: 120px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #eee;
  color: #121212;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 1.2rem;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 999;
}

.bestscreen_list div img {
  width: 100%;
  border-radius: 10px;
  display: block;
}

.best_title {
  font-size: 1.4rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
}

.reservation {
  font-size: 1.2rem;
  text-align: center;
}


/* schedule */
.schedule {
  margin-top: 80px;
}

.schedule_container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.pc_schedule {
  display: none;
}

button {
  background-color: #9E0E92;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.nav_arrow {
  background: none;
  color: #ccc;
  font-size: 3rem;
  border-radius: 50%;
  transition: color 0.3s ease;
}

.nav_arrow:hover {
  color: #9E0E92;
}

.category_tabs {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.category_tabs .tab_btn:nth-child(2),
.category_tabs .tab_btn:nth-child(3) {
  border-left: none;
}

.category_tabs .tab_btn {
  width: calc(100% / 3);
  background-color: #fff;
  color: #666;
  padding: 10px 0;
  border: 1px solid #ccc;
  font-weight: bold;
  font-size: 1.4rem;
  transition: all 0.3 ease;
}

.category_tabs .tab_btn.active {
  background-color: #9E0E92;
  color: #fff;
}


.schedule_list {
  height: 200px;
  overflow-y: auto;
}

.schedule_list .category_content {
  display: none;
}

.schedule_list .category_content.active {
  display: block;
}

.schedule_item {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px dashed #eee;
}

.no_items {
  font-size: 1.3rem;
  color: #666;
  padding: 20px;
  text-align: center;
}

.schedule_item:last-child {
  border-bottom: none;
}

.schedule_time {
  font-weight: 600;
  width: 80px;
  min-width: 80px;
  margin-left: 10px;
  font-size: 1.4rem;
  text-align: left;
}

.schedule_details {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

.schedule_title {
  font-weight: 500;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70%;
}

.schedule_location {
  color: #6c757d;
  font-size: 1.2rem;
  text-align: right;
  white-space: nowrap;
  flex-shrink: 0;
}

.mobile_schedule {
  display: block;
}

.mobile_schedule .schedule_title {
  width: 150px;
}

.schedule_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}

.schedule_header .current_date_mobile {
  font-size: 1.5rem;
  color: #666;
}

.schedule_header .schedule_all_btn {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 20px;
  background: none;
  color: #666;
  font-size: 3rem;
  position: relative;
  right: -25px;
}


/* keyword_section */
.keyword_section {
  background-color: #000248;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 80px;
  width: 100%;
}

.keyword_section .keyword_title {
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0;
  font-size: 1.8rem;
}
.keyword_section .keyword_subtitle {
  color: #fff;
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}
.keyword_rows_container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.keyword_row {
  width: 100%;
  overflow-x: auto;
  position: relative;
  padding: 10px 0;
  margin-bottom: 30px;
}

.top_row {
  margin-bottom: 0;
}

.keyword_row::-webkit-scrollbar {
  display: none;
}

.keyword_track {
  display: flex;
  white-space: nowrap;
}

.keyword_item {
  width: calc((100% - 1 * 5px) / 2);
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  margin-right: 5px;
  transition: all 0.3s ease;
}

.keyword_item:last-child {
  margin-right: 0;
}

.keyword_item img {
  width: 100%;
  height: 40px;
  object-fit: cover;
  display: block;
}

.keyword_item .keyword_text {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  z-index: 99;
  text-align: center;
  transition: all 0.3s ease;
}

.keyword_item .keyword_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 9;
}

@keyframes keyword {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}


/* critics-section*/
.critics_section {
  margin-top: 80px;
}

.critics_wrapper {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  gap: 20px;
}

.img_wrap {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 10px;
}

.img_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.critics_featured {
  display: none;
}

.featured_title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #000248;
  margin: 10px 0 5px;
}

.featured_text {
  font-size: 1.3rem;
}

.critics_list {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
}

.critics_item {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  gap: 10px;
}

.critics_item .img_wrap {
  flex: 0 0 30%;
  aspect-ratio: 4 / 3;
}


.critics_subtitle {
  font-size: 1.4rem;
  font-weight: 500;
  color: #000248;
  margin-bottom: 10px;
}

.critics_desc {
  font-size: 1.3rem;
  color: #666;
  line-height: 15px;
}

.view_all_wrap {
  text-align: center;
  margin-top: 20px;
}

.view_all_btn {
  width: 120px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #9E0E92;
  color: #9E0E92;
  font-size: 1.4rem;
  border-radius: 30px;
}


/*video_section */
.video_section {
  margin-top: 80px;
}

.video_header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.video_thumbnail {
  margin: 0 auto;
  position: relative;
  display: block;
  margin-bottom: 0;
  max-width: 100%;
}


.video_info {
  background-color: #121212;
  color: #fff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.video_info>div {
  display: none;
}

.video_title_info {
  font-size: 1.8rem;
  font-weight: 500;
}


/* event_section */
.event_section {
  margin-top: 80px;
}

.event_header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.event_slider {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding-bottom: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.event_slider::-webkit-scrollbar {
  display: none;
}


.event_card {
  flex: 0 0 45%;
  scroll-snap-align: center;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  position: relative;
}

.event_image_wrapper {
  position: relative;
}

.event_image_wrapper img {
  width: 100%;
  height: auto;
  display: block;
}

.event_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
}

.event_card:hover .event_overlay {
  opacity: 1;
}

.overlay_btn {
  position: absolute;
  bottom: 50px;
  background-color: #eee;
  color: #121212;
  padding: 10px 40px;
  border-radius: 30px;
  font-size: 1.4rem;
  text-decoration: none;
}

.event_text {
  text-align: center;
  padding: 10px 5px;
}

.event_text .title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.event_text .desc {
  font-size: 1.2rem;
  color: #666;
}


/* best_review */
.best_review {
  margin-top: 80px;
  margin-bottom: 100px;
}

.review_list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.review_card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
}

.review_link {
  display: flex;
}

.review_show_title {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
  margin-bottom: 10px;
}

.review_show_title::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: #9E0E92;
  margin-top: 5px;
}

.review_text {
  font-size: 1.2rem;
  line-height: 20px;
}

.review_user {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
  margin-top: 5px;
}

.review_user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.stars {
  color: #9E0E92;
  font-size: 1.3rem;
}

.review_right {
  position: relative;
}

.review_right img {
  width: 100%;
  border-radius: 10px;
}

.overlay {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.overlay span {
  position: absolute;
  bottom: 80px;
  background-color: #eee;
  padding: 10px 40px;
  border-radius: 30px;
  font-size: 1.4rem;
}

.review_link {
  flex-direction: row;
  gap: 15px;
  text-decoration: none;
}

.review_left {
  width: 60%;
  padding-right: 20px;
}

.review_right {
  width: 40%;
  max-width: 300px;
}


/* top, reserve_btn */
.fixed_buttons {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  gap: 10px;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.fixed_buttons.show {
  opacity: 1;
  visibility: visible;
}

.btn_book_ticket {
  padding: 12px 20px;
  border-radius: 25px;
  font-weight: 600;
  font-size: 1.4rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.btn_book_ticket:hover {
  background-color: #fff;
  color: #9E0E92;
}

.btn_scroll_top {
  width: 40px;
  height: 40px;
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.9);
  color: #999;
  border: 1px solid #999;
  border-radius: 50%;
}

/* tablet */
@media (min-width:768px) {
  .main-content-area,
  .content-aligned-wrapper,
  .footer-content-wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }

  /* title */
  .schedule .schedule_tit,
  .critics_section .critics_title,
  .video_section .video_header .video_title,
  .event_section .event_header .event_title,
  .best_review .review_title {
    font-size: 2rem;
    margin-top: 100px;
  }
  .best_screen_tab li {
    margin-top: 50px;
  }
  .keyword_section .keyword_title {
    font-size: 2.2rem;
  }
  .keyword_section .keyword_subtitle {
    font-size: 1.4rem;
  }
 
  .best_screen_tab {
    padding-left: 0;
  }
  .bestscreen_list {
    flex: 0 0 35%;
  }

  /* schedule */
  .mobile_schedule {
    display: none;
  }

  .pc_schedule {
    display: flex;
    height: 520px;
  }

  button {
    font-size: 1.4rem;
  }

  .calendar_section {
    width: 50%;
    border-right: 1px solid #eee;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .calendar_header {
    margin: 0 auto 15px;
    font-size: 1.8rem;
    font-weight: 500;
  }
  .calendar_header button {
    padding: 10px;
    font-size: 4rem;
    position: relative;
    top: 10px;
  }

  .calendar_grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    flex-grow: 1;
    gap: 2px;
  }
  .day_name {
    width: auto;
    text-align: center;
    font-weight: bold;
    color: #666;
    padding: 5px 0;
    font-size: 1.5rem;
  }

  .date_cell {
    text-align: center;
    line-height: 40px;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0 auto;
  }
  .date_cell.empty {
    background: transparent;
    cursor: default;
  }
  .date_cell.selected_day {
    background-color: #9E0E92;
    color: #fff;
  }
  .date_cell.current_day {
    border: 2px solid #9E0E92;
  }


  .list_section {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .list_section .list_section_title {
    margin-top: 20px;
    font-size: 1.8rem;
    font-weight: 500;
  }

  .list_section .category_tabs button {
    font-size: 1.4rem;
  }

  .pc_list .schedule_item div {
    font-size: 1.4rem;
  }


  /* keyword */
  .keyword_item {
    width: calc((100% - 3 * 10px) / 4);
  }

  /* event */
  .event_card {
    flex: 0 0 35%;
    scroll-snap-align: none;
    transform: scale(1);
  }
}


/* pc */
@media all and (min-width:1024px) {
  .swiper {
    top: -130px;
    margin-bottom: -130px;
  }

  .main-content-area {
    margin-top: 50px;
    padding-top: 0;
  }

  /* title */
  .schedule .schedule_tit,
  .critics_section .critics_title,
  .video_title,
  .event_title,
  .best_review .review_title {
    text-align: left;
    font-size: 2.3rem;
    margin-top: 150px;
  }
  .best_screen_tab li {
    margin-top: 80px;
    font-size: 2.3rem;
  }
  .keyword_section .keyword_title {
    text-align: center;
    font-size: 2.5rem;
  }
  .keyword_section .keyword_subtitle {
    font-size: 1.5rem;
  }


  .content-aligned-wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }


  /*best_screen*/
  .poster_wrap:hover::before {
    bottom: 0;
    opacity: 1;
  }

  .poster_wrap:hover .detail_btn {
    opacity: 1;
    pointer-events: auto;
  }

  .best_screen {
    margin-top: 0;
  }
  .best_screen_tab {
    text-align: left;
    justify-content: flex-start;
    padding-left: 0;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .bestscreen_list {
    flex: 0 0 calc((100% - 4 * 10px) / 5);
    max-width: calc((100% - 4 * 10px) / 5);
  }

  .slide_wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .best_list {
    overflow-x: hidden;
    padding: 0;
    gap: 1.5rem;
  }

  .slide_btn {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 4rem;
    height: 4rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 999;
  }

  .slide_btn.prev {
    left: 0;
  }

  .slide_btn.next {
    right: 0;
  }

  /*schedule*/
  .schedule {
    margin-top: 150px;
  }

  .calendar_section {
    padding: 20px;
  }


  /* keyword-section */
  .keyword_section {
    margin-top: 150px;
    padding-left: 0;
    padding-right: 0;
  }
  .keyword_rows_container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .keyword_row {
    overflow-x: hidden;
  }

  .keyword_track {
    animation: keyword 30s linear infinite;
  }

  .keyword_row:hover .keyword_track {
    animation-play-state: paused;
  }

  .keyword_item {
    width: calc((100% - 4 * 10px) / 5);
  }

  .keyword_item:hover .keyword_overlay {
    opacity: 1;
    transform: translateY(0);
  }

  .keyword_item .keyword_text {
    top: 15px;
  }

  .keyword_item:hover .keyword_text {
    font-size: 1.8em;
    transform: scale(1.1);
  }

  .keyword_item:hover {
    transform: translateY(-5px);
  }

  .keyword_item img {
    width: 100%;
    height: 60px;
  }

  /* critics */
  .critics_featured {
    display: block;
    flex: 1;
  }

  /* video*/
  .video_section {
    /* margin-top: 150px; */
  }
  .video_header {
    justify-content: space-between;
  }

  .video_info {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .video_info>div {
    display: block;
    color: #fff;
  }

  .release_date,
  .video_description {
    font-size: 1.4rem;
  }


  /*event*/
  .event_section {
    /* margin-top: 150px; */
  }
  .event_header {
    justify-content: space-between;
  }

  .event_title {
    text-align: left;
  }

  .event_slider {
    overflow: visible;
    justify-content: space-between;
    flex-wrap: nowrap;
    scroll-padding: 0;
  }

  .event_card {
    flex: 0 0 calc(25% - 10px);
    scroll-snap-align: none;
  }


  /*best_review*/
  .best_review {
    margin-top: 150px;
  }
  .review_title {
    text-align: left;
  }

  .review_list {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
  }

  .review_card {
    width: calc(50% - 15px);
  }

  .review_link {
    flex-direction: row;
  }

  .review_link:hover .overlay {
    display: flex;
  }

  .review_more a:hover {
    background-color: #fff;
    border: 1px solid #9E0E92;
    color: #9E0E92;
  }
}

/* wide_pc */
@media (min-width: 1280px) {
  .main-content-area,
  .keyword_rows_container {
    padding-left: 0;
    padding-right: 0;
  }
}